
defaults: &defaults
  working_directory: ~/flownes
  docker:
    - image: quramy/node-nightmare
      environment:
        DISPLAY: ":99"

version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: yarn
      - run:
          name: Test
          command: |
            xvfbd start
            yarn run test
            xvfbd stop
workflows:
  version: 2
  build_pipeline:
    jobs:
      - build
